.hero {
    padding-top: 6.88rem;
    padding-bottom: 6.75rem;
    background:  url("../../images/Group11.svg"), linear-gradient(180deg, rgba(113, 90, 224, 0.00) 38.79%, rgba(233, 100, 255, 0.22) 122.06%, rgba(233, 100, 255, 0.22) 122.06%);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.hero-inner {
    width: 100%;
    @include flexBox (row,wrap,space-between,center);
}

.hero-inner_left {
    width: 60%;
    @include flexBox (column,nowrap,space-between,start);
    gap: 1.2rem;
}

.hero-inner_right img {
    // animation-name: hero-image;
    // animation-duration: 12s;
    // animation-iteration-count: infinite;
    animation: float 6s ease-in-out infinite;
}

.hero-inner_left_h1 {
    color: map-get($text-colors , "font-color-hero" );
    font-family: map-get($body-main , "font-raleway" );
    font-size: 4.4375rem;
    font-style: normal;
    font-weight: 700;
}

.hero-inner_left_p {
    width: 70%;
    color: map-get($text-colors , "font-color-hero" );
    font-family: map-get($body-main , "font-poppins" );
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 300;
}

.hero-inner_left_button {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    height: 2.9375rem;
    text-align: center;
    color: map-get($text-colors , "font-color-hero" );
    font-family: map-get($body-main , "font-raleway" );
    width: 27%;
    border: none;
    border-radius: 0.5rem;
    background: var(--linear, linear-gradient(180deg, rgba(255, 150, 251, 0.69) 0%, rgba(188, 143, 234, 0.69) 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}