@mixin flexBox ($direction, $wrap, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
};